/* Base template */
body {
    background-color: lightslategray;
}

/* Dashboard page */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: lightslategray;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.grid-container > div {
    text-align: center;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
}

/* Login page */
form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
}

.submit {
    padding-top: 10px;
}