/* Base template */
body {
    background-color: lightslategray;
}

/* Dashboard page */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    background-color: lightslategray;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.grid-container > div {
    height: 150px;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.fit-picture {
    width: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.name {
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
}

/* Login page */
.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
}

.padding {
    padding-top: 10px;
}

.feedback {
    font-size: 16px;
    color: red;
}