{% extends "base_template.html" %}

{%block title%}Dashboard{%endblock%}

{%block content%}
<div class="grid-container">
    {% for service in services%}
    <div class="container-xxl">
        name: {{service["name"]}} <br>
        url: {{service["url"]}}
    </div>
    {% endfor %}
    <div class="container-xxl">
        Item 1
    </div>
    <div class="container-xxl">
        Item 2
    </div>
    <div class="container-xxl">
        Item 3
    </div>
    <div class="container-xxl">
        Item 4
    </div>
    <div class="container-xxl">
        Item 5
    </div>
    <div class="container-xxl">
        Item 6
    </div>
</div>
{%endblock%}