{% extends "base_template.html" %}

{%block title%}Dashboard{%endblock%}

{%block content%}
<div class="grid-container">
    {% for service in services%}
    <div id="item">
        <div class="dropdown">
            <button class="btn btn-light" type="button" id="threeDotDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                &#x22EE;
            </button>
            <ul class="dropdown-menu" aria-labelledby="threeDotDropdown">
                <li><a class="dropdown-item">Edit</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form action="{{ url_for('dash.delete_item', service_id=service.id) }}" method="POST" style="display:inline;">
                        <a class="dropdown-item"><button style="none" type="submit">Delete</button></a>
                    </form>
                </li>
            </ul>
        </div>
        <div onclick="location.href='{{service.url}}';" style="cursor: pointer;" class="container-xxl">
            Name: {{service["name"]}} <br>
            URL: {{service["url"]}}
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}
                    